---
import HeadCommon from '../components/HeadCommon.astro';
import HeadSEO from '../components/HeadSEO.astro';
import Header from '../components/Header/Header.astro';
import PageContent from '../components/PageContent/PageContent.astro';
import LeftSidebar from '../components/LeftSidebar/LeftSidebar.astro';
import RightSidebar from '../components/RightSidebar/RightSidebar.astro';
import * as CONFIG from '../config';
import '../styles/main.scss';

const { content = {} } = Astro.props;
const currentPage = new URL(Astro.request.url).pathname;
const currentFile = `src/pages${currentPage.replace(/\/$/, '')}.md`;
---

<html dir={content.dir ?? 'ltr'} lang={content.lang ?? 'en-us'} class="initial">
	<head>
		<HeadCommon />
		<HeadSEO {content} canonicalURL={Astro.canonicalURL} />
		<title>{content.title ? `${content.title} 🚀 ${CONFIG.SITE.title}` : CONFIG.SITE.title}</title>
	</head>

	<body class="bg-slate-100">
		<div class="fixed w-full">
			<Header currentPage={currentPage} />
		</div>
		<div class="grid grid-cols-12 max-h-screen overflow-hidden">
			<div class="col-span-3 flex  overflow-auto max-h-screen mt-12">
				<div class="ml-auto">
					<LeftSidebar currentPage={currentPage} />
				</div>
			</div>
			<main class="py-4 px-8 pb-32 col-span-6  overflow-auto  max-h-screen  mt-12">
				<div>
					<PageContent content={content}>
						<slot />
					</PageContent>
				</div>
			</main>
			<div class="col-span-3">
				<RightSidebar content={content} />
			</div>
		</div>
	</body>
</html>
